*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #191826;
  --orange: #fa7453;
  --light-grey: #fcfaf9;
}

body {
  color: var(--very-dark-blue);
  font-style: normal;
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background: url("./assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 10px -200px;
  padding: 0 1.5rem;
}

header .company-logo {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.hero-tagline {
  font-weight: 700;
  font-size: 2.5rem;
}

.hero-description {
  line-height: 26px;
  margin-top: 1.25rem;
  margin-bottom: 10.375rem;
}

.premium-eq-content-container {
  background: url("./assets/bg-pattern-2.svg") no-repeat, var(--very-dark-blue);
  background-position: center 0;
  border-radius: 12px;
  position: relative;
  min-height: 600px;
}

.app-illustration {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 208.97px;
  height: 430px;
}

.app-details-container {
  background-color: var(--orange);
  position: absolute;
  top: 26.875rem;
  padding: 0 2.25rem;
  color: var(--light-grey);
  border-radius: 12px;
}

.app-title {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
}

.app-description {
  line-height: 28px;
}

.app-price {
  font-weight: 700;
  font-size: 4.063rem;
  margin-top: 2.25rem;
  margin-bottom: 2rem;
}

.per-month-text {
  font-weight: 400;
  font-size: 1.2rem;
}

.btn {
  display: block;
  border: none;
  border-radius: 12px;
  width: 296px;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0.938rem 0;
  cursor: pointer;
}

.ios-btn {
  background-color: var(--very-dark-blue);
  color: var(--light-grey);
}

.android-btn {
  color: var(--very-dark-blue);
  background-color: var(--light-grey);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

footer {
  padding: 0 1.5rem;
  margin-top: 28rem;
}

.footer-text {
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 26px;
}

.footer-email {
  display: block;
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.social-icons-container {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 48em) {
  header {
    background: url("./assets/bg-pattern-1.svg") no-repeat,
      url("./assets/bg-main-tablet.png") no-repeat;
    background-position: top -50px right, -360px -380px;
    background-size: 266px, auto;
  }

  .hero-tagline,
  .hero-description {
    width: 520px;
  }

  .hero-tagline {
    font-size: 4rem;
    line-height: 64px;
  }

  .hero-description {
    font-size: 1.125rem;
    line-height: 28px;
  }

  .premium-eq-content-container {
    margin: 0 2.063rem 0 2.438rem;
  }

  .app-illustration {
    left: 11.25rem;
  }

  .app-details-container {
    top: 130px;
    right: 58px;
    left: 210px;
    padding: 0 3.75rem;
  }

  footer {
    margin-top: 10rem;
  }

  .social-text-and-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons-container {
    margin-top: -1.875rem;
    margin-right: 0.938rem;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 90em) {
  header {
    background: url("./assets/bg-pattern-1.svg") no-repeat,
      url("./assets/bg-main-desktop.png") no-repeat;
    background-position: top -50px right, -300px -400px;
    padding: 0 10.313rem;
  }

  .hero-tagline,
  .hero-description {
    padding-right: 10rem;
    width: 825px;
  }

  .hero-tagline {
    line-height: 88px;
    letter-spacing: -1px;
  }

  .hero-description {
    font-size: 1.125rem;
    line-height: 28px;
  }
  /*
  .premium-eq-content-container {
    margin: 0 2.063rem 0 2.438rem;
  }

  .app-illustration {
    left: 11.25rem;
  }

  .app-details-container {
    top: 130px;
    right: 58px;
    left: 210px;
    padding: 0 3.75rem;
  }

  footer {
    margin-top: 10rem;
  }

  .social-text-and-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons-container {
    margin-top: -1.875rem;
    margin-right: 0.938rem;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  } */
}
